@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.markdown-body {
  color: #01143A;
  font-family: "Poppins", sans serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  word-wrap: break-word;
}
