{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CoinPort Peatio User API v2",
    "description" : "API for CoinPort Peatio application.",
    "contact" : {
      "name" : "openware.com",
      "url" : "https://www.coinport.com.au",
      "email" : "support@coinport.com.au"
    },
    "license" : {
      "url" : "https://github.com/openware/peatio/blob/master/LICENSE.md"
    },
    "version" : "3.1.0"
  },
  "servers" : [ {
    "url" : "//www.coinport.com.au/api/v2/peatio"
  } ],
  "tags" : [ {
    "name" : "api",
    "description" : "Operations about apis"
  } ],
  "paths" : {
    "/api/v2/peatio/public/config" : {
      "get" : {
        "tags" : [ "api" ],
        "operationId" : "getApiV2PeatioPublicConfig",
        "responses" : {
          "200" : {
            "description" : "get Config(s)",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/public/withdraw_limits" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Returns withdraw limits table as paginated collection",
        "operationId" : "getApiV2PeatioPublicWithdrawLimits",
        "parameters" : [ {
          "name" : "group",
          "in" : "query",
          "description" : "Member group for define withdraw limits.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kyc_level",
          "in" : "query",
          "description" : "KYC level for define withdraw limits.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned paginations. Defaults to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Specify the page of paginated results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "ordering",
          "in" : "query",
          "description" : "If set, returned values will be sorted in specific order, defaults to 'desc'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "desc",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "Name of the field, which result will be ordered by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "id"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns withdraw limits table as paginated collection",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WithdrawLimit"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/public/webhooks/{adapter}/{event}" : {
      "post" : {
        "tags" : [ "api" ],
        "description" : "Webhook controller",
        "operationId" : "postApiV2PeatioPublicWebhooksAdapterEvent",
        "parameters" : [ {
          "name" : "adapter",
          "in" : "path",
          "description" : "Name of adapter for process webhook",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "event",
          "in" : "path",
          "description" : "Name of event can be deposit or withdraw",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "deposit", "withdraw", "deposit_address", "generic" ]
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Webhook controller",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/public/trading_fees" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Returns trading_fees table as paginated collection",
        "operationId" : "getApiV2PeatioPublicTradingFees",
        "parameters" : [ {
          "name" : "group",
          "in" : "query",
          "description" : "Member group for define maker/taker fee.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market_id",
          "in" : "query",
          "description" : "Market id for define maker/taker fee.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aaveaud", "aaveeth", "aaveusdt", "apeaud", "apeusdt", "audnzd", "audusd", "axsaud", "axsusdt", "bataud", "batusd", "bchaaud", "bchaeth", "bchaud", "bchausd", "bchausdt", "bcheth", "bcheur", "bchnzd", "bchusd", "bchusdt", "bicoaud", "bicousdt", "bnbaud", "bnbeth", "bnbusdt", "bntaud", "bntusdt", "bsvaud", "bsvusdt", "btcaud", "btceth", "btceur", "btcnzd", "btcusd", "btcusdt", "busdaud", "busdusdt", "celaud", "celusdt", "choaud", "chousdt", "chraud", "chreth", "chrnzd", "chrusd", "chrusdt", "compaud", "compusdt", "daiaud", "daieth", "daiusd", "daiusdt", "dashaud", "dasheth", "dasheur", "dashnzd", "dashusd", "dashusdt", "dmfaud", "dmfusdt", "dogeaud", "dogeeth", "dogeeur", "dogenzd", "dogeusd", "dogeusdt", "eosaud", "eoseth", "eosnzd", "eosusd", "eosusdt", "etcaud", "etceth", "etcusd", "etcusdt", "ethaud", "etheur", "ethnzd", "ethusd", "ethusdt", "eurusd", "ftmaud", "ftmusdt", "gbpeur", "gbpusd", "htaud", "hteth", "htusdt", "ldoaud", "ldousdt", "leoaud", "leoeth", "leonzd", "leousd", "leousdt", "linkaud", "linkusd", "linkusdt", "looksaud", "looksusdt", "lrcaud", "lrcusdt", "ltcaud", "ltcbnb", "ltceth", "ltceur", "ltcnzd", "ltcusd", "ltcusdt", "nahaud", "nahusdt", "nmraud", "nmrusdt", "nzdusd", "omgaud", "omgusd", "powraud", "powreth", "powrnzd", "powrusd", "powrusdt", "qntaud", "qntusdt", "rmdcaud", "rmdcrmb", "shibaud", "shibusdt", "shraud", "shreth", "shrusd", "shrusdt", "snxaud", "snxusdt", "sxpaud", "sxpusdt", "trstaud", "trstusdt", "umaaud", "umausdt", "uniaud", "uniusd", "uniusdt", "uosaud", "uosusdt", "usdcaud", "usdcusdt", "usdjpy", "usdtaud", "usdtnzd", "usdtusd", "xmraud", "xmreth", "xmrnzd", "xmrusd", "xmrusdt", "xrpaud", "xrpeur", "xrpnzd", "xrpusd", "xrpusdt", "yfiaud", "yfiusdt", "zecaud", "zeceth", "zecusd", "zecusdt", "zilaud", "zilusd", "zrxaud", "zrxusdt", "any" ]
          }
        }, {
          "name" : "market_type",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "spot", "qe" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned paginations. Defaults to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Specify the page of paginated results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "ordering",
          "in" : "query",
          "description" : "If set, returned values will be sorted in specific order, defaults to 'desc'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "desc",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "Name of the field, which result will be ordered by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "id"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns trading_fees table as paginated collection",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TradingFee"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/public/health/ready" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get application readiness status",
        "operationId" : "getApiV2PeatioPublicHealthReady",
        "responses" : {
          "200" : {
            "description" : "Get application readiness status",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/public/health/alive" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get application liveness status",
        "operationId" : "getApiV2PeatioPublicHealthAlive",
        "responses" : {
          "200" : {
            "description" : "Get application liveness status",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/public/version" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get running Peatio version and build details.",
        "operationId" : "getApiV2PeatioPublicVersion",
        "responses" : {
          "200" : {
            "description" : "Get running Peatio version and build details.",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/public/timestamp" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get server current time, in seconds since Unix epoch.",
        "operationId" : "getApiV2PeatioPublicTimestamp",
        "responses" : {
          "200" : {
            "description" : "Get server current time, in seconds since Unix epoch.",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/public/member-levels" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Returns hash of minimum levels and the privileges they provide.",
        "operationId" : "getApiV2PeatioPublicMemberLevels",
        "responses" : {
          "200" : {
            "description" : "Returns hash of minimum levels and the privileges they provide.",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/public/markets/{market}/tickers" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get ticker of specific market.",
        "operationId" : "getApiV2PeatioPublicMarketsMarketTickers",
        "parameters" : [ {
          "name" : "market",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "aaveaud", "aaveusdt", "apeaud", "apeusdt", "axsaud", "axsusdt", "bataud", "batusd", "bicoaud", "bicousdt", "bnbaud", "bnbusdt", "bntaud", "bntusdt", "btcaud", "btcusdt", "celaud", "celusdt", "choaud", "chousdt", "chraud", "chrusdt", "compaud", "compusdt", "daiaud", "daiusdt", "dashaud", "dashusdt", "dmfaud", "dmfusdt", "eosaud", "eosusdt", "etcaud", "etcusdt", "ethaud", "ethusdt", "ftmaud", "ftmusdt", "htaud", "htusdt", "ldoaud", "ldousdt", "leoaud", "leousdt", "linkaud", "linkusdt", "looksaud", "looksusdt", "lrcaud", "lrcusdt", "ltcaud", "ltcusdt", "nmraud", "nmrusdt", "omgaud", "omgusd", "powraud", "powrusdt", "qntaud", "qntusdt", "shibaud", "shibusdt", "shraud", "shrusdt", "snxaud", "snxusdt", "sxpaud", "sxpusdt", "trstaud", "trstusdt", "umaaud", "umausdt", "uniaud", "uniusdt", "uosaud", "uosusdt", "usdtaud", "xrpaud", "xrpusdt", "yfiaud", "yfiusdt", "zilaud", "zilusd", "zrxaud", "zrxusdt", "busdusdt", "busdaud", "usdcaud", "usdcusdt" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get ticker of specific market.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Ticker"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/public/markets/tickers" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get ticker of all markets (For response doc see /:market/tickers/ response).",
        "operationId" : "getApiV2PeatioPublicMarketsTickers",
        "responses" : {
          "200" : {
            "description" : "Get ticker of all markets (For response doc see /:market/tickers/ response).",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Ticker"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/public/markets/{market}/k-line" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get OHLC(k line) of specific market.",
        "operationId" : "getApiV2PeatioPublicMarketsMarketKLine",
        "parameters" : [ {
          "name" : "market",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "aaveaud", "aaveusdt", "apeaud", "apeusdt", "axsaud", "axsusdt", "bataud", "batusd", "bicoaud", "bicousdt", "bnbaud", "bnbusdt", "bntaud", "bntusdt", "btcaud", "btcusdt", "celaud", "celusdt", "choaud", "chousdt", "chraud", "chrusdt", "compaud", "compusdt", "daiaud", "daiusdt", "dashaud", "dashusdt", "dmfaud", "dmfusdt", "eosaud", "eosusdt", "etcaud", "etcusdt", "ethaud", "ethusdt", "ftmaud", "ftmusdt", "htaud", "htusdt", "ldoaud", "ldousdt", "leoaud", "leousdt", "linkaud", "linkusdt", "looksaud", "looksusdt", "lrcaud", "lrcusdt", "ltcaud", "ltcusdt", "nmraud", "nmrusdt", "omgaud", "omgusd", "powraud", "powrusdt", "qntaud", "qntusdt", "shibaud", "shibusdt", "shraud", "shrusdt", "snxaud", "snxusdt", "sxpaud", "sxpusdt", "trstaud", "trstusdt", "umaaud", "umausdt", "uniaud", "uniusdt", "uosaud", "uosusdt", "usdtaud", "xrpaud", "xrpusdt", "yfiaud", "yfiusdt", "zilaud", "zilusd", "zrxaud", "zrxusdt", "busdusdt", "busdaud", "usdcaud", "usdcusdt" ]
          }
        }, {
          "name" : "period",
          "in" : "query",
          "description" : "Time period of K line, default to 1. You can choose between 1, 5, 15, 30, 60, 120, 240, 360, 720, 1440, 4320, 10080",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1,
            "enum" : [ 1, 5, 15, 30, 60, 120, 240, 360, 720, 1440, 4320, 10080 ]
          }
        }, {
          "name" : "time_from",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch. If set, only k-line data after that time will be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "time_to",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch. If set, only k-line data till that time will be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned data points default to 30. Ignored if time_from and time_to are given.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 10000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 30
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get OHLC(k line) of specific market.",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/public/markets/{market}/depth" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get depth or specified market. Both asks and bids are sorted from highest price to lowest.",
        "operationId" : "getApiV2PeatioPublicMarketsMarketDepth",
        "parameters" : [ {
          "name" : "market",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "aaveaud", "aaveusdt", "apeaud", "apeusdt", "axsaud", "axsusdt", "bataud", "batusd", "bicoaud", "bicousdt", "bnbaud", "bnbusdt", "bntaud", "bntusdt", "btcaud", "btcusdt", "celaud", "celusdt", "choaud", "chousdt", "chraud", "chrusdt", "compaud", "compusdt", "daiaud", "daiusdt", "dashaud", "dashusdt", "dmfaud", "dmfusdt", "eosaud", "eosusdt", "etcaud", "etcusdt", "ethaud", "ethusdt", "ftmaud", "ftmusdt", "htaud", "htusdt", "ldoaud", "ldousdt", "leoaud", "leousdt", "linkaud", "linkusdt", "looksaud", "looksusdt", "lrcaud", "lrcusdt", "ltcaud", "ltcusdt", "nmraud", "nmrusdt", "omgaud", "omgusd", "powraud", "powrusdt", "qntaud", "qntusdt", "shibaud", "shibusdt", "shraud", "shrusdt", "snxaud", "snxusdt", "sxpaud", "sxpusdt", "trstaud", "trstusdt", "umaaud", "umausdt", "uniaud", "uniusdt", "uosaud", "uosusdt", "usdtaud", "xrpaud", "xrpusdt", "yfiaud", "yfiusdt", "zilaud", "zilusd", "zrxaud", "zrxusdt", "busdusdt", "busdaud", "usdcaud", "usdcusdt" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned price levels. Default to 300.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 300
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get depth or specified market. Both asks and bids are sorted from highest price to lowest.",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/public/markets/{market}/trades" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get recent trades on market, each trade is included only once. Trades are sorted in reverse creation order.",
        "operationId" : "getApiV2PeatioPublicMarketsMarketTrades",
        "parameters" : [ {
          "name" : "market",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "aaveaud", "aaveusdt", "apeaud", "apeusdt", "axsaud", "axsusdt", "bataud", "batusd", "bicoaud", "bicousdt", "bnbaud", "bnbusdt", "bntaud", "bntusdt", "btcaud", "btcusdt", "celaud", "celusdt", "choaud", "chousdt", "chraud", "chrusdt", "compaud", "compusdt", "daiaud", "daiusdt", "dashaud", "dashusdt", "dmfaud", "dmfusdt", "eosaud", "eosusdt", "etcaud", "etcusdt", "ethaud", "ethusdt", "ftmaud", "ftmusdt", "htaud", "htusdt", "ldoaud", "ldousdt", "leoaud", "leousdt", "linkaud", "linkusdt", "looksaud", "looksusdt", "lrcaud", "lrcusdt", "ltcaud", "ltcusdt", "nmraud", "nmrusdt", "omgaud", "omgusd", "powraud", "powrusdt", "qntaud", "qntusdt", "shibaud", "shibusdt", "shraud", "shrusdt", "snxaud", "snxusdt", "sxpaud", "sxpusdt", "trstaud", "trstusdt", "umaaud", "umausdt", "uniaud", "uniusdt", "uosaud", "uosusdt", "usdtaud", "xrpaud", "xrpusdt", "yfiaud", "yfiusdt", "zilaud", "zilusd", "zrxaud", "zrxusdt", "busdusdt", "busdaud", "usdcaud", "usdcusdt" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned trades. Default to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "timestamp",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch.If set, only trades executed before the time will be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "If set, returned trades will be sorted in specific order, default to 'desc'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "desc",
            "enum" : [ "asc", "desc" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get recent trades on market, each trade is included only once. Trades are sorted in reverse creation order.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Trade"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/public/markets/{market}/order-book" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get the order book of specified market.",
        "operationId" : "getApiV2PeatioPublicMarketsMarketOrderBook",
        "parameters" : [ {
          "name" : "market",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "aaveaud", "aaveusdt", "apeaud", "apeusdt", "axsaud", "axsusdt", "bataud", "batusd", "bicoaud", "bicousdt", "bnbaud", "bnbusdt", "bntaud", "bntusdt", "btcaud", "btcusdt", "celaud", "celusdt", "choaud", "chousdt", "chraud", "chrusdt", "compaud", "compusdt", "daiaud", "daiusdt", "dashaud", "dashusdt", "dmfaud", "dmfusdt", "eosaud", "eosusdt", "etcaud", "etcusdt", "ethaud", "ethusdt", "ftmaud", "ftmusdt", "htaud", "htusdt", "ldoaud", "ldousdt", "leoaud", "leousdt", "linkaud", "linkusdt", "looksaud", "looksusdt", "lrcaud", "lrcusdt", "ltcaud", "ltcusdt", "nmraud", "nmrusdt", "omgaud", "omgusd", "powraud", "powrusdt", "qntaud", "qntusdt", "shibaud", "shibusdt", "shraud", "shrusdt", "snxaud", "snxusdt", "sxpaud", "sxpusdt", "trstaud", "trstusdt", "umaaud", "umausdt", "uniaud", "uniusdt", "uosaud", "uosusdt", "usdtaud", "xrpaud", "xrpusdt", "yfiaud", "yfiusdt", "zilaud", "zilusd", "zrxaud", "zrxusdt", "busdusdt", "busdaud", "usdcaud", "usdcusdt" ]
          }
        }, {
          "name" : "asks_limit",
          "in" : "query",
          "description" : "Limit the number of returned sell orders. Default to 20.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        }, {
          "name" : "bids_limit",
          "in" : "query",
          "description" : "Limit the number of returned buy orders. Default to 20.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 200,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get the order book of specified market.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OrderBook"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/public/markets" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get all available markets.",
        "operationId" : "getApiV2PeatioPublicMarkets",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned paginations. Defaults to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Specify the page of paginated results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "ordering",
          "in" : "query",
          "description" : "If set, returned values will be sorted in specific order, defaults to 'asc'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "asc",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "Name of the field, which result will be ordered by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "position",
            "enum" : [ "id", "position" ]
          }
        }, {
          "name" : "base_unit",
          "in" : "query",
          "description" : "Strict filter for base unit",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "quote_unit",
          "in" : "query",
          "description" : "Strict filter for quote unit",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Strict filter for market type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "spot", "qe" ]
          }
        }, {
          "name" : "search",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { }
        }, {
          "name" : "search[base_code]",
          "in" : "query",
          "description" : "Search base currency code using LIKE",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search[quote_code]",
          "in" : "query",
          "description" : "Search qoute currency code using LIKE",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search[base_name]",
          "in" : "query",
          "description" : "Search base currency name using LIKE",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search[quote_name]",
          "in" : "query",
          "description" : "Search quote currency name using LIKE",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get all available markets.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Market"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/public/currencies" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get list of currencies",
        "operationId" : "getApiV2PeatioPublicCurrencies",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned paginations. Defaults to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Specify the page of paginated results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Currency type",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "fiat", "coin" ]
          }
        }, {
          "name" : "search",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { }
        }, {
          "name" : "search[code]",
          "in" : "query",
          "description" : "Search by currency code using SQL LIKE",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search[name]",
          "in" : "query",
          "description" : "Search by currency name using SQL LIKE",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get list of currencies",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Currency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/public/currencies/{id}" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get a currency",
        "operationId" : "getApiV2PeatioPublicCurrenciesId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Currency code.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "aave", "ape", "aud", "audt", "axs", "bat", "bch", "bcha", "bico", "bnb", "bnt", "bsv", "btc", "busd", "cel", "cho", "chr", "comp", "dai", "dash", "dmf", "doge", "eos", "etc", "eth", "ftm", "gmt", "ht", "ldo", "leo", "link", "looks", "lrc", "ltc", "nah", "nmr", "omg", "powr", "qnt", "rmdc", "shib", "shr", "snx", "sxp", "trst", "uma", "uni", "uos", "usdc", "usdt", "xlm", "xmr", "xrp", "yfi", "zec", "zil", "zrx", "AAVE", "APE", "AUD", "AUDT", "AXS", "BAT", "BCH", "BCHA", "BICO", "BNB", "BNT", "BSV", "BTC", "BUSD", "CEL", "CHO", "CHR", "COMP", "DAI", "DASH", "DMF", "DOGE", "EOS", "ETC", "ETH", "FTM", "GMT", "HT", "LDO", "LEO", "LINK", "LOOKS", "LRC", "LTC", "NAH", "NMR", "OMG", "POWR", "QNT", "RMDC", "SHIB", "SHR", "SNX", "SXP", "TRST", "UMA", "UNI", "UOS", "USDC", "USDT", "XLM", "XMR", "XRP", "YFI", "ZEC", "ZIL", "ZRX" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get a currency",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Currency"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/account/members/beneficiaries_whitelisting" : {
      "post" : {
        "tags" : [ "api" ],
        "description" : "Enable/Disable beneficiaries whitelisting for the specific user",
        "operationId" : "postApiV2PeatioAccountMembersBeneficiariesWhitelisting",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/members_beneficiaries_whitelisting_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Enable/Disable beneficiaries whitelisting for the specific user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Member"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/account/members/me" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Returns current member",
        "operationId" : "getApiV2PeatioAccountMembersMe",
        "responses" : {
          "200" : {
            "description" : "Returns current member",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Member"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/account/internal_transfers" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "List your internal transfers as paginated collection.",
        "operationId" : "getApiV2PeatioAccountInternalTransfers",
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Currency code.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aave", "ape", "aud", "audt", "axs", "bat", "bch", "bcha", "bico", "bnb", "bnt", "bsv", "btc", "busd", "cel", "cho", "chr", "comp", "dai", "dash", "dmf", "doge", "eos", "etc", "eth", "ftm", "gmt", "ht", "ldo", "leo", "link", "looks", "lrc", "ltc", "nah", "nmr", "omg", "powr", "qnt", "rmdc", "shib", "shr", "snx", "sxp", "trst", "uma", "uni", "uos", "usdc", "usdt", "xlm", "xmr", "xrp", "yfi", "zec", "zil", "zrx", "AAVE", "APE", "AUD", "AUDT", "AXS", "BAT", "BCH", "BCHA", "BICO", "BNB", "BNT", "BSV", "BTC", "BUSD", "CEL", "CHO", "CHR", "COMP", "DAI", "DASH", "DMF", "DOGE", "EOS", "ETC", "ETH", "FTM", "GMT", "HT", "LDO", "LEO", "LINK", "LOOKS", "LRC", "LTC", "NAH", "NMR", "OMG", "POWR", "QNT", "RMDC", "SHIB", "SHR", "SNX", "SXP", "TRST", "UMA", "UNI", "UOS", "USDC", "USDT", "XLM", "XMR", "XRP", "YFI", "ZEC", "ZIL", "ZRX" ]
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The state to filter by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sender",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List your internal transfers as paginated collection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/InternalTransfer"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "api" ],
        "description" : "Creates internal transfer.",
        "operationId" : "postApiV2PeatioAccountInternalTransfers",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/account_internal_transfers_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Creates internal transfer.",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/account/stats/pnl" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get assets pnl calculated into one currency",
        "operationId" : "getApiV2PeatioAccountStatsPnl",
        "parameters" : [ {
          "name" : "pnl_currency",
          "in" : "query",
          "description" : "Currency code in which the PnL is calculated",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aave", "ape", "aud", "audt", "axs", "bat", "bch", "bcha", "bico", "bnb", "bnt", "bsv", "btc", "busd", "cel", "cho", "chr", "comp", "dai", "dash", "dmf", "doge", "eos", "etc", "eth", "ftm", "gmt", "ht", "ldo", "leo", "link", "looks", "lrc", "ltc", "nah", "nmr", "omg", "powr", "qnt", "rmdc", "shib", "shr", "snx", "sxp", "trst", "uma", "uni", "uos", "usdc", "usdt", "xlm", "xmr", "xrp", "yfi", "zec", "zil", "zrx", "AAVE", "APE", "AUD", "AUDT", "AXS", "BAT", "BCH", "BCHA", "BICO", "BNB", "BNT", "BSV", "BTC", "BUSD", "CEL", "CHO", "CHR", "COMP", "DAI", "DASH", "DMF", "DOGE", "EOS", "ETC", "ETH", "FTM", "GMT", "HT", "LDO", "LEO", "LINK", "LOOKS", "LRC", "LTC", "NAH", "NMR", "OMG", "POWR", "QNT", "RMDC", "SHIB", "SHR", "SNX", "SXP", "TRST", "UMA", "UNI", "UOS", "USDC", "USDT", "XLM", "XMR", "XRP", "YFI", "ZEC", "ZIL", "ZRX" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get assets pnl calculated into one currency",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/account/transactions" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get your transactions history.",
        "operationId" : "getApiV2PeatioAccountTransactions",
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Currency code",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aave", "ape", "aud", "audt", "axs", "bat", "bch", "bcha", "bico", "bnb", "bnt", "bsv", "btc", "busd", "cel", "cho", "chr", "comp", "dai", "dash", "dmf", "doge", "eos", "etc", "eth", "ftm", "gmt", "ht", "ldo", "leo", "link", "looks", "lrc", "ltc", "nah", "nmr", "omg", "powr", "qnt", "rmdc", "shib", "shr", "snx", "sxp", "trst", "uma", "uni", "uos", "usdc", "usdt", "xlm", "xmr", "xrp", "yfi", "zec", "zil", "zrx", "AAVE", "APE", "AUD", "AUDT", "AXS", "BAT", "BCH", "BCHA", "BICO", "BNB", "BNT", "BSV", "BTC", "BUSD", "CEL", "CHO", "CHR", "COMP", "DAI", "DASH", "DMF", "DOGE", "EOS", "ETC", "ETH", "FTM", "GMT", "HT", "LDO", "LEO", "LINK", "LOOKS", "LRC", "LTC", "NAH", "NMR", "OMG", "POWR", "QNT", "RMDC", "SHIB", "SHR", "SNX", "SXP", "TRST", "UMA", "UNI", "UOS", "USDC", "USDT", "XLM", "XMR", "XRP", "YFI", "ZEC", "ZIL", "ZRX" ]
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "Sorting order",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "desc",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "time_from",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "time_to",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "deposit_state",
          "in" : "query",
          "description" : "Filter deposits by states.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "withdraw_state",
          "in" : "query",
          "description" : "Filter withdraws by states.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "txid",
          "in" : "query",
          "description" : "Transaction id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned transactions. Default to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Specify the page of paginated results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get your transactions history.",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/account/withdraws" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "List your withdraws as paginated collection.",
        "operationId" : "getApiV2PeatioAccountWithdraws",
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Currency code.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aave", "ape", "aud", "audt", "axs", "bat", "bch", "bcha", "bico", "bnb", "bnt", "bsv", "btc", "busd", "cel", "cho", "chr", "comp", "dai", "dash", "dmf", "doge", "eos", "etc", "eth", "ftm", "gmt", "ht", "ldo", "leo", "link", "looks", "lrc", "ltc", "nah", "nmr", "omg", "powr", "qnt", "rmdc", "shib", "shr", "snx", "sxp", "trst", "uma", "uni", "uos", "usdc", "usdt", "xlm", "xmr", "xrp", "yfi", "zec", "zil", "zrx", "AAVE", "APE", "AUD", "AUDT", "AXS", "BAT", "BCH", "BCHA", "BICO", "BNB", "BNT", "BSV", "BTC", "BUSD", "CEL", "CHO", "CHR", "COMP", "DAI", "DASH", "DMF", "DOGE", "EOS", "ETC", "ETH", "FTM", "GMT", "HT", "LDO", "LEO", "LINK", "LOOKS", "LRC", "LTC", "NAH", "NMR", "OMG", "POWR", "QNT", "RMDC", "SHIB", "SHR", "SNX", "SXP", "TRST", "UMA", "UNI", "UOS", "USDC", "USDT", "XLM", "XMR", "XRP", "YFI", "ZEC", "ZIL", "ZRX" ]
          }
        }, {
          "name" : "blockchain_key",
          "in" : "query",
          "description" : "Blockchain key of the requested withdrawal",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aud-monoova", "binance-smart-chain", "bitcoin", "bitcoin-abc", "bitcoincash-node", "bitcoinsv", "dash", "dogecoin", "electrum", "eth-kovan", "eth-testnet", "eth-testnet.", "ethereum", "ethereum-classic", "fiat", "heco-chain", "litecoin", "monero", "opendax-cloud", "ripple", "straya", "tron", "zcash" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of withdraws per page (defaults to 100, maximum is 100).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "Filter withdrawals by states.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rid",
          "in" : "query",
          "description" : "Wallet address on the Blockchain.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "time_from",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "time_to",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number (defaults to 1).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List your withdraws as paginated collection.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Withdraw"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "api" ],
        "description" : "Creates new withdrawal to active beneficiary.",
        "operationId" : "postApiV2PeatioAccountWithdraws",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/account_withdraws_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Creates new withdrawal to active beneficiary.",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/account/withdraws/sums" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Returns withdrawal sums for last 24 hours and 1 month",
        "operationId" : "getApiV2PeatioAccountWithdrawsSums",
        "responses" : {
          "200" : {
            "description" : "Returns withdrawal sums for last 24 hours and 1 month",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/account/beneficiaries/{id}" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get beneficiary by ID",
        "operationId" : "getApiV2PeatioAccountBeneficiariesId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Beneficiary Identifier in Database",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get beneficiary by ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Beneficiary"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "api" ],
        "description" : "Update beneficiary",
        "operationId" : "putApiV2PeatioAccountBeneficiariesId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Beneficiary Identifier in Database",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/beneficiaries_id_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update beneficiary",
            "content" : { }
          }
        }
      },
      "delete" : {
        "tags" : [ "api" ],
        "description" : "Delete beneficiary",
        "operationId" : "deleteApiV2PeatioAccountBeneficiariesId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Beneficiary Identifier in Database",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "otp",
          "in" : "query",
          "description" : "OTP to perform action",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Delete beneficiary",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/account/beneficiaries/{id}/activate" : {
      "patch" : {
        "tags" : [ "api" ],
        "description" : "Activates beneficiary with pin",
        "operationId" : "patchApiV2PeatioAccountBeneficiariesIdActivate",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Beneficiary Identifier in Database",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/id_activate_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Activates beneficiary with pin",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Beneficiary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/account/beneficiaries/{id}/resend_pin" : {
      "patch" : {
        "tags" : [ "api" ],
        "description" : "Resend beneficiary pin",
        "operationId" : "patchApiV2PeatioAccountBeneficiariesIdResendPin",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Beneficiary Identifier in Database",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resend beneficiary pin",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/account/beneficiaries" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get list of user beneficiaries",
        "operationId" : "getApiV2PeatioAccountBeneficiaries",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned paginations. Defaults to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Specify the page of paginated results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "currency",
          "in" : "query",
          "description" : "Beneficiary currency code.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aud", "eth", "usdt", "zrx", "AUD", "USDT" ]
          }
        }, {
          "name" : "blockchain_key",
          "in" : "query",
          "description" : "Blockchain key of the requested beneficiary",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aud-monoova", "fiat" ]
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "Defines either beneficiary active - user can use it to withdraw money or pending - requires beneficiary activation with pin.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get list of user beneficiaries",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Beneficiary"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "api" ],
        "description" : "Create new beneficiary",
        "operationId" : "postApiV2PeatioAccountBeneficiaries",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/account_beneficiaries_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Create new beneficiary",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Beneficiary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/account/deposit_address/{currency}" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Returns deposit address for account you want to deposit to by currency. The address may be blank because address generation process is still in progress. If this case you should try again later.",
        "operationId" : "getApiV2PeatioAccountDepositAddressCurrency",
        "parameters" : [ {
          "name" : "currency",
          "in" : "path",
          "description" : "The account you want to deposit to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "aave", "ape", "audt", "axs", "bat", "bch", "bcha", "bico", "bnb", "bnt", "bsv", "btc", "busd", "cel", "cho", "chr", "comp", "dai", "dash", "dmf", "doge", "eos", "etc", "eth", "ftm", "gmt", "ht", "ldo", "leo", "link", "looks", "lrc", "ltc", "nah", "nmr", "omg", "powr", "qnt", "rmdc", "shib", "shr", "snx", "sxp", "trst", "uma", "uni", "uos", "usdc", "usdt", "xlm", "xmr", "xrp", "yfi", "zec", "zil", "zrx", "AAVE", "APE", "AUDT", "AXS", "BAT", "BCH", "BCHA", "BICO", "BNB", "BNT", "BSV", "BTC", "BUSD", "CEL", "CHO", "CHR", "COMP", "DAI", "DASH", "DMF", "DOGE", "EOS", "ETC", "ETH", "FTM", "GMT", "HT", "LDO", "LEO", "LINK", "LOOKS", "LRC", "LTC", "NAH", "NMR", "OMG", "POWR", "QNT", "RMDC", "SHIB", "SHR", "SNX", "SXP", "TRST", "UMA", "UNI", "UOS", "USDC", "USDT", "XLM", "XMR", "XRP", "YFI", "ZEC", "ZIL", "ZRX" ]
          }
        }, {
          "name" : "blockchain_key",
          "in" : "query",
          "description" : "Blockchain key of the requested deposit address",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aud-monoova", "binance-smart-chain", "bitcoin", "bitcoin-abc", "bitcoincash-node", "bitcoinsv", "dash", "dogecoin", "electrum", "eth-kovan", "eth-testnet", "eth-testnet.", "ethereum", "ethereum-classic", "fiat", "heco-chain", "litecoin", "monero", "opendax-cloud", "ripple", "straya", "tron", "zcash" ]
          }
        }, {
          "name" : "address_format",
          "in" : "query",
          "description" : "Address format legacy/cash",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "legacy", "cash" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns deposit address for account you want to deposit to by currency. The address may be blank because address generation process is still in progress. If this case you should try again later.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Deposit"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/account/deposits/{txid}" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get details of specific deposit.",
        "operationId" : "getApiV2PeatioAccountDepositsTxid",
        "parameters" : [ {
          "name" : "txid",
          "in" : "path",
          "description" : "Deposit transaction id",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get details of specific deposit.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Deposit"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/account/deposits" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get your deposits history.",
        "operationId" : "getApiV2PeatioAccountDeposits",
        "parameters" : [ {
          "name" : "currency",
          "in" : "query",
          "description" : "Currency code",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aave", "ape", "aud", "audt", "axs", "bat", "bch", "bcha", "bico", "bnb", "bnt", "bsv", "btc", "busd", "cel", "cho", "chr", "comp", "dai", "dash", "dmf", "doge", "eos", "etc", "eth", "ftm", "gmt", "ht", "ldo", "leo", "link", "looks", "lrc", "ltc", "nah", "nmr", "omg", "powr", "qnt", "rmdc", "shib", "shr", "snx", "sxp", "trst", "uma", "uni", "uos", "usdc", "usdt", "xlm", "xmr", "xrp", "yfi", "zec", "zil", "zrx", "AAVE", "APE", "AUD", "AUDT", "AXS", "BAT", "BCH", "BCHA", "BICO", "BNB", "BNT", "BSV", "BTC", "BUSD", "CEL", "CHO", "CHR", "COMP", "DAI", "DASH", "DMF", "DOGE", "EOS", "ETC", "ETH", "FTM", "GMT", "HT", "LDO", "LEO", "LINK", "LOOKS", "LRC", "LTC", "NAH", "NMR", "OMG", "POWR", "QNT", "RMDC", "SHIB", "SHR", "SNX", "SXP", "TRST", "UMA", "UNI", "UOS", "USDC", "USDT", "XLM", "XMR", "XRP", "YFI", "ZEC", "ZIL", "ZRX" ]
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "Filter deposits by states.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "txid",
          "in" : "query",
          "description" : "Deposit transaction id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "blockchain_key",
          "in" : "query",
          "description" : "Blockchain key of the requested deposit",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aud-monoova", "binance-smart-chain", "bitcoin", "bitcoin-abc", "bitcoincash-node", "bitcoinsv", "dash", "dogecoin", "electrum", "eth-kovan", "eth-testnet", "eth-testnet.", "ethereum", "ethereum-classic", "fiat", "heco-chain", "litecoin", "monero", "opendax-cloud", "ripple", "straya", "tron", "zcash" ]
          }
        }, {
          "name" : "time_from",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "time_to",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of deposits per page (defaults to 100, maximum is 100).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page number (defaults to 1).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get your deposits history.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Deposit"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/account/balances/{currency}" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get user account by currency",
        "operationId" : "getApiV2PeatioAccountBalancesCurrency",
        "parameters" : [ {
          "name" : "currency",
          "in" : "path",
          "description" : "The currency code.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "aave", "ape", "aud", "audt", "axs", "bat", "bch", "bcha", "bico", "bnb", "bnt", "bsv", "btc", "busd", "cel", "cho", "chr", "comp", "dai", "dash", "dmf", "doge", "eos", "etc", "eth", "ftm", "gmt", "ht", "ldo", "leo", "link", "looks", "lrc", "ltc", "nah", "nmr", "omg", "powr", "qnt", "rmdc", "shib", "shr", "snx", "sxp", "trst", "uma", "uni", "uos", "usdc", "usdt", "xlm", "xmr", "xrp", "yfi", "zec", "zil", "zrx" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get user account by currency",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/account/balances" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get list of user accounts",
        "operationId" : "getApiV2PeatioAccountBalances",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned paginations. Defaults to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Specify the page of paginated results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "account_type",
          "in" : "query",
          "description" : "Accounts type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "nonzero",
          "in" : "query",
          "description" : "Filter non zero balances.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { }
        }, {
          "name" : "search",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : { }
        }, {
          "name" : "search[currency_code]",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "search[currency_name]",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get list of user accounts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/market/trades" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get your executed trades. Trades are sorted in reverse creation order.",
        "operationId" : "getApiV2PeatioMarketTrades",
        "parameters" : [ {
          "name" : "market",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market_type",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "spot", "qe" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned trades. Default to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Specify the page of paginated results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "To indicate nature of trade - buy/sell",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "buy", "sell" ]
          }
        }, {
          "name" : "time_from",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch.If set, only trades executed after the time will be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "time_to",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch.If set, only trades executed before the time will be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "If set, returned trades will be sorted in specific order, default to 'desc'.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "desc",
            "enum" : [ "asc", "desc" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get your executed trades. Trades are sorted in reverse creation order.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Trade"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/market/orders/cancel" : {
      "post" : {
        "tags" : [ "api" ],
        "description" : "Cancel all my orders.",
        "operationId" : "postApiV2PeatioMarketOrdersCancel",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/orders_cancel_body"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Cancel all my orders.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/market/orders/{id}/cancel" : {
      "post" : {
        "tags" : [ "api" ],
        "description" : "Cancel an order.",
        "operationId" : "postApiV2PeatioMarketOrdersIdCancel",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Cancel an order.",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/market/orders" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get your orders, result is paginated.",
        "operationId" : "getApiV2PeatioMarketOrders",
        "parameters" : [ {
          "name" : "market",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "market_type",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "spot", "qe" ]
          }
        }, {
          "name" : "base_unit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aave", "aave", "ape", "ape", "axs", "axs", "bat", "bat", "bico", "bico", "bnb", "bnb", "bnt", "bnt", "btc", "btc", "cel", "cel", "cho", "cho", "chr", "chr", "comp", "comp", "dai", "dai", "dash", "dash", "dmf", "dmf", "eos", "eos", "etc", "etc", "eth", "eth", "ftm", "ftm", "ht", "ht", "ldo", "ldo", "leo", "leo", "link", "link", "looks", "looks", "lrc", "lrc", "ltc", "ltc", "nmr", "nmr", "omg", "omg", "powr", "powr", "qnt", "qnt", "shib", "shib", "shr", "shr", "snx", "snx", "sxp", "sxp", "trst", "trst", "uma", "uma", "uni", "uni", "uos", "uos", "usdt", "xrp", "xrp", "yfi", "yfi", "zil", "zil", "zrx", "zrx", "busd", "busd", "usdc", "usdc" ]
          }
        }, {
          "name" : "quote_unit",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "aave", "aave", "ape", "ape", "axs", "axs", "bat", "bat", "bico", "bico", "bnb", "bnb", "bnt", "bnt", "btc", "btc", "cel", "cel", "cho", "cho", "chr", "chr", "comp", "comp", "dai", "dai", "dash", "dash", "dmf", "dmf", "eos", "eos", "etc", "etc", "eth", "eth", "ftm", "ftm", "ht", "ht", "ldo", "ldo", "leo", "leo", "link", "link", "looks", "looks", "lrc", "lrc", "ltc", "ltc", "nmr", "nmr", "omg", "omg", "powr", "powr", "qnt", "qnt", "shib", "shib", "shr", "shr", "snx", "snx", "sxp", "sxp", "trst", "trst", "uma", "uma", "uni", "uni", "uos", "uos", "usdt", "xrp", "xrp", "yfi", "yfi", "zil", "zil", "zrx", "zrx", "busd", "busd", "usdc", "usdc" ]
          }
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "Filter order by state.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit the number of returned orders, default to 100.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Specify the page of paginated results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 1
          }
        }, {
          "name" : "order_by",
          "in" : "query",
          "description" : "If set, returned orders will be sorted in specific order, default to \"desc\".",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "desc",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "ord_type",
          "in" : "query",
          "description" : "Filter order by ord_type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "market", "limit" ]
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Filter order by type.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "buy", "sell" ]
          }
        }, {
          "name" : "time_from",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch.If set, only orders created after the time will be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "time_to",
          "in" : "query",
          "description" : "An integer represents the seconds elapsed since Unix epoch.If set, only orders created before the time will be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get your orders, result is paginated.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "api" ],
        "description" : "Create a Sell/Buy order.",
        "operationId" : "postApiV2PeatioMarketOrders",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/market_orders_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Create a Sell/Buy order.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/market/orders/{id}" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get information of specified order.",
        "operationId" : "getApiV2PeatioMarketOrdersId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get information of specified order.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/coinmarketcap/orderbook/{market_pair}" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get depth or specified market",
        "operationId" : "getApiV2PeatioCoinmarketcapOrderbookMarketPair",
        "parameters" : [ {
          "name" : "market_pair",
          "in" : "path",
          "description" : "A pair such as \"LTC_BTC\"",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "depth",
          "in" : "query",
          "description" : "Orders depth quantity: [0,5,10,20,50,100,500]",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 500,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get depth or specified market",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/coinmarketcap/trades/{market_pair}" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get recent trades on market",
        "operationId" : "getApiV2PeatioCoinmarketcapTradesMarketPair",
        "parameters" : [ {
          "name" : "market_pair",
          "in" : "path",
          "description" : "A pair such as \"LTC_BTC\"",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get recent trades on market",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Trade"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/coinmarketcap/ticker" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get 24-hour pricing and volume summary for each market pair",
        "operationId" : "getApiV2PeatioCoinmarketcapTicker",
        "responses" : {
          "200" : {
            "description" : "Get 24-hour pricing and volume summary for each market pair",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Ticker"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/coinmarketcap/assets" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Details on crypto currencies available on the exchange",
        "operationId" : "getApiV2PeatioCoinmarketcapAssets",
        "responses" : {
          "200" : {
            "description" : "Details on crypto currencies available on the exchange",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/coinmarketcap/summary" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Overview of market data for all tickers and all market pairs on the exchange",
        "operationId" : "getApiV2PeatioCoinmarketcapSummary",
        "responses" : {
          "200" : {
            "description" : "Overview of market data for all tickers and all market pairs on the exchange",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/coingecko/historical_trades" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get recent trades on market",
        "operationId" : "getApiV2PeatioCoingeckoHistoricalTrades",
        "parameters" : [ {
          "name" : "ticker_id",
          "in" : "query",
          "description" : "A pair such as \"LTC_BTC\"",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "To indicate nature of trade - buy/sell",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "buy", "sell" ]
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of historical trades to retrieve from time of query. [0, 200, 500...]. 0 returns full history",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "start_time",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "end_time",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get recent trades on market",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/coingecko/orderbook" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get depth or specified market",
        "operationId" : "getApiV2PeatioCoingeckoOrderbook",
        "parameters" : [ {
          "name" : "ticker_id",
          "in" : "query",
          "description" : "A pair such as \"LTC_BTC\"",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "depth",
          "in" : "query",
          "description" : "Orders depth quantity: [0, 100, 200, 500...]",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get depth or specified market",
            "content" : { }
          }
        }
      }
    },
    "/api/v2/peatio/coingecko/tickers" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get list of all available trading pairs",
        "operationId" : "getApiV2PeatioCoingeckoTickers",
        "responses" : {
          "200" : {
            "description" : "Get list of all available trading pairs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Ticker"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/peatio/coingecko/pairs" : {
      "get" : {
        "tags" : [ "api" ],
        "description" : "Get list of all available trading pairs",
        "operationId" : "getApiV2PeatioCoingeckoPairs",
        "responses" : {
          "200" : {
            "description" : "Get list of all available trading pairs",
            "content" : { }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "WithdrawLimit" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Unique withdraw limit table identifier in database.",
            "format" : "int32"
          },
          "group" : {
            "type" : "string",
            "description" : "Member group for define withdraw limits."
          },
          "kyc_level" : {
            "type" : "string",
            "description" : "KYC level for define withdraw limits."
          },
          "limit_24_hour" : {
            "type" : "number",
            "description" : "24 hours withdraw limit.",
            "format" : "double"
          },
          "limit_1_month" : {
            "type" : "number",
            "description" : "1 month withdraw limit.",
            "format" : "double"
          },
          "created_at" : {
            "type" : "string",
            "description" : "Withdraw limit table created time in iso8601 format."
          },
          "updated_at" : {
            "type" : "string",
            "description" : "Withdraw limit table updated time in iso8601 format."
          }
        },
        "description" : "Returns withdraw limits table as paginated collection"
      },
      "TradingFee" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Unique trading fee table identifier in database.",
            "format" : "int32"
          },
          "group" : {
            "type" : "string",
            "description" : "Member group for define maker/taker fee."
          },
          "market_id" : {
            "type" : "string",
            "description" : "Market id for define maker/taker fee."
          },
          "market_type" : {
            "type" : "string",
            "description" : "Market type."
          },
          "maker" : {
            "type" : "number",
            "description" : "Market maker fee.",
            "format" : "double"
          },
          "taker" : {
            "type" : "number",
            "description" : "Market taker fee.",
            "format" : "double"
          },
          "created_at" : {
            "type" : "string",
            "description" : "Trading fee table created time in iso8601 format."
          },
          "updated_at" : {
            "type" : "string",
            "description" : "Trading fee table updated time in iso8601 format."
          }
        },
        "description" : "Returns trading_fees table as paginated collection"
      },
      "Ticker" : {
        "type" : "object",
        "properties" : {
          "at" : {
            "type" : "integer",
            "description" : "Timestamp of ticker",
            "format" : "int32"
          },
          "ticker" : {
            "$ref" : "#/components/schemas/TickerEntry"
          }
        },
        "description" : "Get list of all available trading pairs"
      },
      "TickerEntry" : {
        "type" : "object",
        "properties" : {
          "low" : {
            "type" : "number",
            "description" : "The lowest trade price during last 24 hours (0.0 if no trades executed during last 24 hours)",
            "format" : "double"
          },
          "high" : {
            "type" : "number",
            "description" : "The highest trade price during last 24 hours (0.0 if no trades executed during last 24 hours)",
            "format" : "double"
          },
          "open" : {
            "type" : "number",
            "description" : "Price of the first trade executed 24 hours ago or less",
            "format" : "double"
          },
          "last" : {
            "type" : "number",
            "description" : "The last executed trade price",
            "format" : "double"
          },
          "volume" : {
            "type" : "number",
            "description" : "Total volume of trades executed during last 24 hours",
            "format" : "double"
          },
          "amount" : {
            "type" : "number",
            "description" : "Total amount of trades executed during last 24 hours",
            "format" : "double"
          },
          "vol" : {
            "type" : "number",
            "description" : "Alias to volume",
            "format" : "double"
          },
          "avg_price" : {
            "type" : "number",
            "description" : "Average price more precisely VWAP is calculated by adding up the total traded for every transaction(price multiplied by the number of shares traded) and then dividing by the total shares traded",
            "format" : "double"
          },
          "price_change_percent" : {
            "type" : "string",
            "description" : "Price change in the next format +3.19%.Price change is calculated using next formula (last - open) / open * 100%"
          },
          "at" : {
            "type" : "integer",
            "description" : "Timestamp of ticker",
            "format" : "int32"
          }
        }
      },
      "Trade" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Trade ID."
          },
          "price" : {
            "type" : "number",
            "description" : "Trade price.",
            "format" : "double"
          },
          "amount" : {
            "type" : "number",
            "description" : "Trade amount.",
            "format" : "double"
          },
          "total" : {
            "type" : "number",
            "description" : "Trade total (Amount * Price).",
            "format" : "double"
          },
          "fee_currency" : {
            "type" : "number",
            "description" : "Currency user's fees were charged in.",
            "format" : "double"
          },
          "fee" : {
            "type" : "number",
            "description" : "Percentage of fee user was charged for performed trade.",
            "format" : "double"
          },
          "fee_amount" : {
            "type" : "number",
            "description" : "Amount of fee user was charged for performed trade.",
            "format" : "double"
          },
          "market" : {
            "type" : "string",
            "description" : "Trade market id."
          },
          "market_type" : {
            "type" : "string",
            "description" : "Market type."
          },
          "created_at" : {
            "type" : "string",
            "description" : "Trade create time in iso8601 format."
          },
          "taker_type" : {
            "type" : "string",
            "description" : "Trade taker order type (sell or buy)."
          },
          "side" : {
            "type" : "string",
            "description" : "Trade side."
          },
          "order_id" : {
            "type" : "integer",
            "description" : "Order id.",
            "format" : "int32"
          }
        },
        "description" : "Get recent trades on market"
      },
      "OrderBook" : {
        "type" : "object",
        "properties" : {
          "asks" : {
            "type" : "array",
            "description" : "Asks in orderbook",
            "items" : {
              "$ref" : "#/components/schemas/Order"
            }
          },
          "bids" : {
            "type" : "array",
            "description" : "Bids in orderbook",
            "items" : {
              "$ref" : "#/components/schemas/Order"
            }
          }
        },
        "description" : "Get the order book of specified market."
      },
      "Order" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "integer",
            "description" : "Unique order id.",
            "format" : "int32"
          },
          "uuid" : {
            "type" : "string",
            "description" : "Unique order UUID."
          },
          "side" : {
            "type" : "string",
            "description" : "Either 'sell' or 'buy'."
          },
          "ord_type" : {
            "type" : "string",
            "description" : "Type of order, either 'limit' or 'market'."
          },
          "price" : {
            "type" : "number",
            "description" : "Price for each unit. e.g.If you want to sell/buy 1 btc at 3000 usd, the price is '3000.0'",
            "format" : "double"
          },
          "avg_price" : {
            "type" : "number",
            "description" : "Average execution price, average of price in trades.",
            "format" : "double"
          },
          "state" : {
            "type" : "string",
            "description" : "One of 'wait', 'done', or 'cancel'.An order in 'wait' is an active order, waiting fulfillment;a 'done' order is an order fulfilled;'cancel' means the order has been canceled."
          },
          "market" : {
            "type" : "string",
            "description" : "The market in which the order is placed, e.g. 'btcusd'.All available markets can be found at /api/v2/markets."
          },
          "market_type" : {
            "type" : "string",
            "description" : "Market type."
          },
          "created_at" : {
            "type" : "string",
            "description" : "Order create time in iso8601 format."
          },
          "updated_at" : {
            "type" : "string",
            "description" : "Order updated time in iso8601 format."
          },
          "origin_volume" : {
            "type" : "number",
            "description" : "The amount user want to sell/buy.An order could be partially executed,e.g. an order sell 5 btc can be matched with a buy 3 btc order,left 2 btc to be sold; in this case the order's volume would be '5.0',its remaining_volume would be '2.0', its executed volume is '3.0'.",
            "format" : "double"
          },
          "remaining_volume" : {
            "type" : "number",
            "description" : "The remaining volume, see 'volume'.",
            "format" : "double"
          },
          "executed_volume" : {
            "type" : "number",
            "description" : "The executed volume, see 'volume'.",
            "format" : "double"
          },
          "maker_fee" : {
            "type" : "number",
            "description" : "Fee for maker.",
[...]
